.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em auto 0 auto;
  padding: 4em;
  background: url("../Images/empty\ cart.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50em;
}

.empty-txt {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #0a0908;
  margin-top: 2.5em;
}

.txt-2 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #0a0908;
  margin: 1em 0 4em 0;
}

.shop-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1em 2em;
  margin: 0 auto;
  background: #fffffc;
  color: #0a0908;
  border: 1px solid #0a0908;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #0a0908;
}

.shop-btn:hover {
  background: #0a0908;
  color: #fffffc;
  cursor: pointer;
  border: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
  width: 50%;
  border: 1px solid indianred;
  border-radius: 2em;
  font-family: "Work Sans", sans-serif;
}

.cart-item:first-child {
  margin-top: 5em;
}

.cart-item img {
  width: 30%;
  margin-bottom: 1em;
}

.cart-item h2 {
  font-size: 1.5rem;
}

.cart-item h3 {
  font-size: 1.5em;
  text-align: center;
}

.price {
  font-size: 1.5em;
  text-align: end;
}

.remove-btn {
  font-size: 1.5rem;
  font-weight: 300;
  /* padding: 0.5em; */
  width: 50%;
  border-radius: 0.25em;
  border: none;
  box-shadow: 0 0 2px #0a0908;
}

.total-price {
  width: 50%;
  margin: 1em auto 0 auto;
  display: flex;
  font-family: "Work Sans", sans-serif;
  justify-content: flex-end;
}

.total-price p {
  font-size: 2rem;
  border-bottom: 1px double #0a0908;
}

.checkout-btn {
  margin: 3em auto;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
}

.checkout-btn:hover {
  border: none;
  color: #fffffc;
  background: #0a0908;
  cursor: pointer;
}
